pipeline/accounts/cr-secret.yaml
pipeline/accounts/*-secrets.yaml
**/*-values.yaml
pipeline/run/resource*
pipeline/run/*
!pipeline/run/run-pipeline-health-helm-cd-demo.yaml
!pipeline/run/run-task-helm-deploy-demo.yaml
!pipeline/run/run-task-source-to-image-health-api-demo.yaml
!pipeline/run/run_from_git.sh
