apiVersion: v1
kind: Secret
metadata:
  name: ibm-cr-token-us-south
  annotations:
    tekton.dev/docker-0: __CR_URL__
type: kubernetes.io/basic-auth
stringData:
  username: token
  password: __CR_TOKEN__
